@page "/"
@inject NavigationManager Navigation

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    // if we get here we need to do a check and see if we're returning from an auth attempt. The url will have query params like #id_token or some other crap.__builder
    // if we do, we need to redirect to http%3A%2F%2Flocalhost%3A3000%2Fauthentication%2Flogin-callback with the same query params attached.
}